/results/*.csv
/results/*.pdf
/results/*.png
/results/*.gif
/results/*.mp4
/results/*.jls
/results/*.txt
/results/**/*.csv
/results/pre_push_campaigns/
__pycache__/
!/Manifest.toml
!/LocalPreferences.toml
